#chat-container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    background: c;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 3px 5px -1px #ff5661;
}

#chat-log {
    height: 300px;
    overflow-y: auto;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 5px;
    padding: 10px;
    background: #908f8f;
    margin-bottom: 10px;
}

#chat-message-input {
    width: calc(100% - 80px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#chat-send-button {
    padding: 10px;
    background-color: #FF666F;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#chat-send-button:hover {
    background-color: #ff2b38;
}